$aqua: #00ffff;
$white: #ffffff;
$dark-black: #191919;
$light-black: #242424;
$gray: #8d8d8d;
$box-shadow: -8px -8px 18px 0 rgba(0, 0, 0, 0.55), inset 3px 3px 7px rgba(0,0,0,0.15), inset -3px -3px 7px rgba(255,255,255,0.09);

@mixin flex-center {
    justify-content: center;
    align-items: center;
}
@mixin flex-row {
    display: flex;
    flex-flow: row nowrap;
}
@mixin flex-column {
    display: flex;
    flex-flow: column nowrap;
}
@mixin flex-wrap {
    display: flex;
    flex-flow: row wrap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    @include flex-center;
    background-color: $dark-black;
    width: 100%;
    height: 100%;
    display: grid;
    overflow-y: scroll;
    overflow-x: hidden;
}
main {
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 4rem;
    padding-bottom: 3rem;
    background-color: inherit;
    width: 100%;
    z-index: 1;
}
button { //default button
    width: 10rem;
    height: 3rem;
    text-align: center;
    border: 2px solid $aqua;
    background-color: $light-black;
    font-size: 1.2em;
    font-family: montserrat, sans-serif;
    letter-spacing: 2px;
    padding: 10px 20px;
    color: $aqua;
    border-radius: 18px;
    margin-left: 2rem;
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 500;
}
button:hover, button:focus {
    color: $light-black;
    background-color: $aqua;
    outline: none;
}
button:active {
    outline: none;
    transform: scale(0.98)
}
.active {
    div { box-shadow: inset 3px 3px 7px rgba(0,0,0,0.15), inset -3px -3px 7px rgba(255,255,255,0.09); }
    div:hover { transform: scale(1) !important; }
}
//scrollbar
::-webkit-scrollbar { //width
    width: 10px;
    background: $dark-black; 
}
::-webkit-scrollbar-thumb { //handle
    background: $light-black; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { background: #3f3f3f; }