.character-container  {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    button:hover { cursor: grab; }
    button:active { cursor: grabbing; }
    @media only screen and (max-width: 600px) { margin-left: 5rem; } //margin for nav on phone
}
.card-container {
    background-color: transparent;
    width: 14rem;
    height: 15rem;
    perspective: 100rem;
    margin: 1.5rem;
}
.cards {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: width 1s, height 1s, transform 2s;
    transform-style: preserve-3d;
    @-moz-document url-prefix() { //only for firefox browsers
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
}
.card-container:hover .cards {
    transform: rotateY(180deg);
    width: calc(100% + 10rem);
    height: calc(100% + 19rem);
}
.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    color: #ffffff;
    background-color: #242424;
    border-radius: 30px;
    box-shadow: -8px -8px 18px 0 rgba(0, 0, 0, 0.55), inset 3px 3px 7px rgba(0,0,0,0.15), inset -3px -3px 7px rgba(255,255,255,0.09);
    img {
        margin-top: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border: solid 2px #00FFFF;
    border-radius: 30px;
    background-color: #242424;
    color: #ffffff;
    transform: rotateY(180deg);
    //postition after rotation
    margin-left: 5.5rem;
    margin-top: -5vh;
    img {
        width: 100%;
        border-radius: 30px 30px 0px 0px;
        filter: grayscale(100%);
    }
    h3, p {
        margin-top: 1rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
    p + p { margin-bottom: 0.8rem; }
    button { margin: 1rem; }
}