#contact {
    @include flex-row;
    @include flex-center;
    width: 100vw;
    height: 100vh;
}
.contact {
    @include flex-column;
    @include flex-center;
    background-color: $light-black;
    position: absolute;
    top: 20vh;
    left: 30vw;
    width: 40vw;
    height: 70vh;
    box-shadow: $box-shadow;
    border-radius: 25px;
    @media only screen and (max-width: 800px) { 
        top: 6rem;
        width: 77vw;
        left: 20vw;
    }
    form {
        @include flex-column;
        @include flex-center;
        gap: 1.2rem;
        width: 80%;
        font-family: montserrat, sans-serif;
        @media only screen and (max-width: 800px) { width: 100%; }
        h2 { 
            font-size: 2.8em;
            margin-bottom: -1rem;
            color: $aqua;
            @media only screen and (max-width: 800px) { font-size: 1.8em; }
        }
        p { 
            margin-bottom: 1rem;
            max-width: 80%; 
        }
        input, textarea {
            color: $white;
            background-color: $dark-black;
            width: 80%;
            height: 3rem;
            padding: 1rem;
            font-size: 0.8em;
            letter-spacing: 0.1em;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: none;
            outline: none;
            &:focus { border-bottom: solid 2px $aqua; }
            &::placeholder { text-transform: uppercase; }
        }
        label { 
            color: $gray;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: 0.1em;
            margin-left: 0.8rem;
        }
        textarea {
            font-family: montserrat, sans-serif;
            height: 5rem;
            margin-bottom: 1rem;
        }
    }
}