#game {
    width: 100vw;
    height: 100vh; 
    background: radial-gradient(#333333, #191919);
    background-position: center center;
    background-size: cover;
    @media only screen and (max-width: 1400px) { height: 100%; }
}
.board {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4.5rem;
}
.player-container {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 50vw;
    margin-left: -25vw;
    width: 50vw;
    height: 5.5rem;
}
.dice-btn {
    position: absolute;
    left: 17vw;
    //margin-left: -5vw;
    height: 5.5rem;
    width: 10vw;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    color: #242424;
    border: none;
    border-radius: 0px;
    background-color: #00ffff;
    box-shadow: 0 0 3px #03e9f4, //glowing button
                0 0 13px #03e9f4,
                0 0 25px #03e9f4,
                0 0 100px #03e9f4;
}
.dice-btn:disabled { // button during opponents turn
    background-color: #8d8d8d;
    cursor: not-allowed;
    box-shadow: none;
}
.dice-btn:hover { transform: scale(0.98); }
.player-one {
    img { 
        position: absolute;
        top: 1rem;
        left: 2vw;
        height: 3rem;
    }
    .dice-paragraph {
        margin-left: 10vw;
        margin-top: 1rem;
        height: 3rem;
        width: auto;
        background-repeat: no-repeat;
    }
}
.player-two {
    img {
        position: absolute;
        top: 1rem;
        right: 3vw;
        height: 3rem;
    }
    .dice-paragraph {
        margin-left: 35vw;
        margin-top: -3rem;
        height: 3rem;
        width: auto;
        background-repeat: no-repeat;
    }
}
.dice-paragraph { display: none; } //hide history
.dice-paragraph:first-of-type { display: block; }
div[class^="tile"] {
    width: 9rem;
    height: 7rem;
    margin: 0.2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.tile-default { background: #19191960; }
.tile-trap { background-color: #00ffff94; }
.tile-throne {
    background-color: #19191960;
    .tile-number { color: transparent; }
    background-size: 55%;
}
.tile-end {
    background-color: #19191960;
    .tile-number { color: transparent; }
}
#tile-0 {
    color: transparent;
    background-color: transparent;
}
.tile-number {
    margin-top: 2.5rem;
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    opacity: 0.1;
    font-size: 2em;
    cursor: default;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
.token {
    width: 3rem;
    margin: 1rem;
    height: auto;
    position: absolute;
    transition: 0.4s ease-in-out;
}
//game icons
#player-dice-1 { background-image: url("images/player-dice-1.svg"); }
#player-dice-2 { background-image: url("images/player-dice-2.svg"); }
#player-dice-3 { background-image: url("images/player-dice-3.svg"); }
#player-dice-4 { background-image: url("images/player-dice-4.svg"); }
#player-dice-5 { background-image: url("images/player-dice-5.svg"); }
#player-dice-6 { background-image: url("images/player-dice-6.svg"); }
#opponent-dice-1 { background-image: url("images/opponent-dice-1.svg"); }
#opponent-dice-2 { background-image: url("images/opponent-dice-2.svg"); }
#opponent-dice-3 { background-image: url("images/opponent-dice-3.svg"); }
#opponent-dice-4 { background-image: url("images/opponent-dice-4.svg"); }
#opponent-dice-5 { background-image: url("images/opponent-dice-5.svg"); }
#opponent-dice-6 { background-image: url("images/opponent-dice-6.svg"); }
#throne_1 { background-image: url("images/throne_1.svg"); }
#throne_2 { background-image: url("images/throne_2.svg"); }
#throne_3 { background-image: url("images/throne_3.svg"); }
#throne_iron { background-image: url("images/throne_iron.svg"); }