#index { 
    padding-top: 105vh; 
    h2 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
#index-header {
    .nav-container {
        box-shadow: none !important;
    }
}
.intro-container {
    z-index: 9;
    background-image: url("images/indexBackground.jpg");
    filter: grayscale(50%);
    height: 91vh;
    width: 100vw;
    top: 5.5rem;
    position: absolute;
}
.intro-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        width: 20vw;
        height: 4rem;
        font-size: 1.5em;
            background-color: #242424a8;
            border: none;
    box-shadow: -8px -8px 18px 0 rgba(0, 0, 0, 0.55), inset 3px 3px 7px rgba(0,0,0,0.15), inset -3px -3px 7px rgba(255,255,255,0.09);
    
    }
}
#text__intro {
    position: absolute;
    top: 30vh;
    left: 50vw;
    margin-left: -29rem;
    z-index: 9;
    width: 58rem;
    /*background-color: #242424a8;*/
    box-shadow: -8px -8px 18px 0 rgba(0, 0, 0, 0.55), inset 3px 3px 7px rgba(0,0,0,0.15), inset -3px -3px 7px rgba(255,255,255,0.09);
    padding: 5rem;
    border-radius: 25px;
    p, h1 { padding-bottom: 2rem; }
}