#index { 
    padding-bottom: 10rem;
    h2 { 
        padding-bottom: 2rem;
        @media only screen and (max-width: 600px) { 
            padding-left: 4.5rem; 
            font-size: 2em;
        }
    }
}
.intro-container {
    @include flex-center;
    @include flex-row;
    margin: 5rem;
    @media only screen and (max-width: 1100px) { flex-flow: row wrap; }
    @media only screen and (max-width: 600px) {
        margin-left: 3.5rem;
        margin-right: -0.5rem;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
}
#intro__box {
    z-index: 9;
    width: 30rem;
    height: 36rem;
    background-color: $aqua;
    box-shadow: $box-shadow;
    border-radius: 25px;
    user-select: none; //pevent text selection
    @media only screen and (max-width: 1100px) { display: none; }
    h1 {
        position: relative;
        margin-top: 11rem;
        margin-left: -7.2rem;
        font-family: chuck, sans-serif;
        font-size: 8.4em;
        line-height: 0.8em;
        transform: rotate(-90deg);
        height: 13rem;
        width: 33rem;
        z-index: 9;
        color: rgba(0, 0, 0, 0.185);
        span { font-size: 0.65em; }
    }
}
#intro__img {
    margin-left: -32rem;
    margin-top: 1rem;
    z-index: 11;
    width: 32rem;
    transform: rotate(-55deg);
    @media only screen and (max-width: 1100px) { display: none; }
}
#intro__txt {
    @include flex-center;
    @include flex-wrap;
    margin-left: -10rem;
    padding-top: 5rem;
    padding-bottom: 4rem;
    background-color: $light-black;
    z-index: 9;
    width: 70vw;
    max-width: 49rem;
    height: 30rem;
    box-shadow: $box-shadow;
    border-radius: 25px;
    @media only screen and (max-width: 1100px) { 
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: 100%;
        margin-left: 0rem;
    }
    @media only screen and (max-width: 600px) { 
        background-color: transparent;
        box-shadow: none;
        color: $gray;
        padding-top: 0;
        padding-bottom: 0;
    }
    h1 {
        padding-bottom: 1.5rem;
        font-family: montserrat, sans-serif;
        text-transform: uppercase;
        letter-spacing: -1px;
        line-height: 1em;
        color: $white;
        font-size: 4.4em;
        text-align: center;
        @media only screen and (max-width: 800px) { display: none; }
    }
    p { 
        font-size: 1.2em;
        line-height: 1.6em;
        max-width: 67%;
        @media only screen and (max-width: 1100px) { 
            max-width: 80%;
            font-size: 1em;
            text-align-last: center;
            line-height: 1.2em;
        }
    }
}
.intro-btn {
    @include flex-center;
    @include flex-wrap;
    margin-top: 2.5rem;
    button {
        width: 14.5rem;
        height: 4rem;
        font-size: 1.4em;
        color: $light-black;
        border: $aqua solid 2px;
        background-color: $aqua;
        @media only screen and (max-width: 1100px) { 
            margin-bottom: 2rem;
            width: 12.5rem;
            height: 3rem;
            font-size: 1em;
        }
    }
    :hover { transform: scale(0.99); }
    :active { opacity: 0.7; }
}