#index { padding-top: 40rem; }
.intro-container {
    width: 100vw;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.intro-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        width: 15vw;
        height: 4rem;
        text-align: center;
        border: 2px solid;
        background-color: transparent;
        font-size: 1.5em;
        padding: 10px 20px;
        color: #00ffff;
        border-radius: 18px;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    button:hover {
        color: #242424;
        border: 0;
        background-color: #00ffff;
    }
    button:active {
        color: #242424;
        border: 0;
        background-color: #00ffff;
        -webkit-box-shadow: 1px 1px 10px 1px #00ffff;
        -moz-box-shadow: 1px 1px 10px 1px #00ffff;
        box-shadow: 1px 1px 10px 1px #00ffff;
    }
}
#image__intro {
    position: relative;
    margin-top: 7.5rem;
    margin-left: -14rem;
    margin-right: -12rem;
    height: 30rem;
}
#text__intro {
    position: relative;
    margin-top: 7.5rem;
    width: 48rem;
    background-color: #242424;
    padding: 3rem;
    p, h1 { padding-bottom: 2rem; }
}