.modal__background {
    opacity: 0;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: 0.2s ease-in-out;
}
.modal__background-active {
    visibility: visible;
    opacity: 1;
}
.modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 50vw;
    top: 50vh;
    height: 15rem;
    width: 25rem;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color: #242424;
    box-shadow: -8px -8px 18px 0 rgba(0, 0, 0, 0.55), inset 3px 3px 7px rgba(0,0,0,0.15), inset -3px -3px 7px rgba(255,255,255,0.09);
    @media only screen and (max-width: 600px) { width: 21rem; }
    p { 
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 2rem;
        margin-left: 4rem; 
        margin-right: 4rem; 
    }
}