.modal-container {
    position: fixed;
    opacity: 0;
    z-index: 100;
    left: 0;
    top: 0;
    transition: 0.2s ease-in-out;
}
.modal--active { opacity: 1; }
.modal {
    position: absolute;
    @include flex-center;
    @include flex-column;
    left: 50vw;
    top: 50vh;
    height: 20rem;
    width: 25rem;
    line-height: 1.8em;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color: $light-black;
    box-shadow: $box-shadow;
    @media only screen and (max-width: 600px) { width: 21rem; }
    p { 
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 2rem;
        margin-left: 3rem; 
        margin-right: 3rem; 
        @media only screen and (max-width: 600px) { 
            margin-left: 2rem; 
            margin-right: 2rem;
        }
    }
}