//logo
.logo {
    display: block;
    margin-left: 1rem;
    padding: 1rem;
    //logo icon
    img { 
        height: 35px;
        width: 35px;
        transition: transform ease-out 0.1s;
        margin-left: 96px;
    }
    img:hover { transform: scale(0.93); }
    img:active { transform: scale(1.1); }
}
#logo__txt { //logo text
    font-family: montserrat, sans-serif;
    font-size: 10px;
    letter-spacing: 8px;
    color: #8d8d8d;
    line-height: 22px;
    margin-bottom: -38px;
    text-transform: uppercase;
    span {
        font-family: chuck, sans-serif;
        letter-spacing: 4px;
        font-weight: 900;
        margin-left: -1px;
        font-size: 28px;
        color: #00ffff;
    }
}
//desktop navigation
.nav-container {
    display: flex;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 5.5rem;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    background-color: #242424; 
    box-shadow: inset 3px 3px 7px rgba(0,0,0,0.15), inset -3px -3px 7px rgba(255,255,255,0.05);
}
nav {
    margin: 1rem;
    padding: 1rem;
    ul {
        display: flex;
        list-style-type: none;
        flex-direction: row;
        justify-content: flex-end;
    }
    li {
        color: #8d8d8d;
        text-transform: uppercase;
        padding-right: 2rem;
    }
    @media only screen and (max-width: 600px) { display: none; } //hide element on phone
    span {
        padding-left: 0.8rem;
        vertical-align: middle;
        letter-spacing: 2px;
        font-size: 0.8em;
    }
    i { vertical-align: middle; }
    i:hover, a:hover { opacity: 80%; }
    i:active, a:active { color: #00ffff; }
}
//phone navigation
.side-panel-container {
    position: fixed;
    @media only screen and (min-width: 600px) { display: none; } //hide element on big screens
}