//top-navigation
.nav-container {
    width: 100vw;
    height: 4rem;
    top: 0vh;
    left: 0vw;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
    background-color: #242424;
    position: absolute;  
    box-shadow: inset 3px 3px 7px rgba(0,0,0,0.15), inset -3px -3px 7px rgba(255,255,255,0.05);
}
.logo {
    h1 {
        position: relative;
        top: -0.8rem;
        left: 5rem;
        font-size: 2rem;
        text-transform: uppercase;
    }
    a {
        position: absolute;
        top: 1rem;
        left: 1rem;
        height: 23px;
        width: 30px;
        transition: transform ease-out 0.1s;
    }
    a:hover { transform: scale(0.93); }
    a:active { transform: scale(1.1); }
}
//footer, bubble buttons
footer {
    width: 100vw;
    height: 6.3rem;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
    background-color: #242424;
    position: relative;  
    box-shadow: inset 3px 3px 7px rgba(0,0,0,0.15), inset -3px -3px 7px rgba(255,255,255,0.05);
}
.bubble-container {
    position: absolute;
    bottom: 1rem;
    left: 5vw;
    display: flex;
    justify-content: space-around;
    width: 90vw;
}
.bubble {
    box-shadow: 3px 3px 7px rgba(0,0,0,0.15), -3px -3px 7px rgba(255,255,255,0.05);
    border-radius: 50%;
    div {
        background-color: #252525;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin: 2px;
        user-select: none; /*pevent text selection*/
        cursor: pointer;
    }
    div:hover {
        box-shadow: inset 3px 3px 7px rgba(0,0,0,0.15), inset -3px -3px 7px rgba(255,255,255,0.09);
        transform: scale(0.96);
    }
    i { color: #8d8d8d; }
    i:active { color: #00ffff; }
    i:focus { color: #00ffff; }
}
.bubble:active, .bubble:focus {
    background-color: #00ffff;
}
.active {
    div {
        box-shadow: inset 3px 3px 7px rgba(0,0,0,0.15), inset -3px -3px 7px rgba(255,255,255,0.09);
        background-color: #242424;
    }
    div:hover { transform: scale(1); }
    a, i { color: #00ffff; }
}