//logo
.logo {
    display: block;
    margin-left: 1rem;
    padding: 1rem;
    @media only screen and (max-width: 600px) { 
        margin-left: 40vw;
        padding: 0.5rem; 
        img { display: none; }
    }
    //logo icon
    img { 
        height: 35px;
        width: 35px;
        transition: transform ease-out 0.1s;
        margin-left: 96px;
    }
    img:hover { transform: scale(0.93); }
    img:active { transform: scale(1.1); }
}
#logo__txt { //logo text
    font-family: montserrat, sans-serif;
    font-size: 10px;
    letter-spacing: 8px;
    color: #8d8d8d;
    line-height: 22px;
    margin-bottom: -38px;
    text-transform: uppercase;
    @media only screen and (max-width: 600px) { letter-spacing: 7px; }
    span {
        font-family: chuck, sans-serif;
        letter-spacing: 4px;
        font-weight: 900;
        margin-left: -1px;
        font-size: 28px;
        color: #00ffff;
        @media only screen and (max-width: 600px) { letter-spacing: 5px; }
    }
}
//desktop navigation
.nav-container {
    display: flex;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 5.5rem;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    background-color: #242424; 
    box-shadow: inset 3px 3px 7px rgba(0,0,0,0.15), inset -3px -3px 7px rgba(255,255,255,0.05);
    @media only screen and (max-width: 600px) { 
        box-shadow: none; 
        height: 4.5rem;
    }
    nav {
        margin: 1rem;
        padding: 1rem;
        ul {
            display: flex;
            list-style-type: none;
            flex-direction: row;
            justify-content: flex-end;
        }
        li {
            color: #8d8d8d;
            text-transform: uppercase;
            padding-right: 2rem;
        }
        @media only screen and (max-width: 600px) { display: none; } //hide element on phone
        span {
            padding-left: 0.8rem;
            vertical-align: middle;
            letter-spacing: 2px;
            font-size: 0.8em;
        }
        i { vertical-align: middle; }
        i:hover, a:hover { opacity: 80%; }
        i:active, a:active { color: #00ffff; }
    }
}
//phone navigation
.panel-container {
    position: fixed;
    #logo__phone {
        padding-top: 0.3rem;
        background-color: #313131;
        height: 4.5rem;
        width: 4rem;
    }
    img { //logo icon
        width: 35px;
        height: 35px;
        margin-top: 0.8rem;
        margin-left: 0.8rem;
        transition: transform ease-out 0.1s;
    }
    #navToggle {
        background-color: #242424;
        height: 4.5rem;
        width: 4rem;
        i { padding: 1rem; }
    }
    nav {
        position: absolute;
        display: block;
        left: -200px;
        top: 8rem;
        width: 16.5rem; //12.8 = 0
        transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
        background-color: #242424;
        height: 100vh;
        ul {
            padding: 1.7rem;
            list-style-type: none;
        }
        li {
            position: relative;
            padding-bottom: 2.7rem;
        }
        a {
            display: block;
            white-space: nowrap;
            text-decoration: none; 
            position: relative;
        }
        i {
            position: absolute;
            top: 0rem;
            left: 12.1rem;
            font-size: 1.5em;
        }
        i + i { //only applies to an i following (+) i
            left: 4.5rem;
            font-size: 1em;
        }
    }
    @media only screen and (min-width: 600px) { display: none; }
}
//font awesome unicode icons
.unicode {
    position: relative;
	display: block;
    cursor: pointer;
    ::before { font-family: 'Font Awesome\ 5 Free'; }
}
#unicode__toggle::before {
    content: '\f35a'; //arrow pointing right
    font-size: 1.5em;
    display: block;
    position: relative;
}
.openPanel { //after panel is open
    nav { transform: translate3d(12.2rem, 0, 0); }
    #unicode__toggle::before {
	content: '\f410'; //close x
	display: block;
    position: relative;
    font-size: 1.5em;
    color: #00ffff;
    }
}
#dropdown{
    position: relative;
    cursor: pointer;
    ::after {
        position: absolute;
        content:'';
        left: 80px;
        top: 8px;
        width: 0;
        height: 0;
    }
}
#dropdown-menu { 
    display:none; 
    li {
        margin-top: 1rem;
        margin-bottom: -1rem;
    }
    li + li { margin-bottom: -4.5rem; }
}
.showDropdown #dropdown-menu { display: block; }