@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url("https://use.typekit.net/xjc5qtk.css"); 
//font-family: chuck, sans-serif;
//font-family: open-sans, sans-serif;
//font-family: montserrat, sans-serif;
//font-family: lores-12, sans-serif;
//font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
//font-family: 'VT323', monospace;

body {
    color: white;
    text-align: justify;
}
h1 {
    font-family: chuck, sans-serif;
    color: #00ffff;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 4em;
}
h2 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    color: #8d8d8d;
    letter-spacing: 0.1em;
    font-size: 2.5em;
    text-align: center;
}
h3 {
    font-size: 1.5em;
    text-align: center;
    font-family: montserrat, sans-serif;
}
h4 {
    font-size: 1.2em;
    text-align: left;
    font-family: montserrat, sans-serif;
}
p {
    font-family: montserrat, sans-serif;
    font-size: 1em;
    text-align: justify;
}
a { //links
    text-decoration: none;
    color: inherit;
    font-family: montserrat, sans-serif;
}
i { //font awesome
    color: #8d8d8d; 
    font-size: 1.2em;
} 
.copy-container { font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; }
a[id]:hover::after { //tooltips 
    content: attr(id);
    position: absolute;
    top: -0.1rem;
    right: calc(100% - 10px);
    max-width: 100%;
    font-size: 0.65em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    background: #ffffff;
    opacity: 70%;
    color: #000000;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
a[id]:active::after {
    background: transparent;
    color: transparent;
}
.active { i, span, a { color: #00ffff; } }