@import url("https://use.typekit.net/xjc5qtk.css"); //font-family: chuck, sans-serif;
@import url("https://use.typekit.net/xjc5qtk.css"); //font-family: open-sans, sans-serif;
@import url("https://use.typekit.net/xjc5qtk.css"); //font-family: montserrat, sans-serif;
@import url("https://use.typekit.net/xjc5qtk.css"); //font-family: lores-12, sans-serif;
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); //font-family: 'VT323', monospace;
//font-family: lores-12, sans-serif;
//font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

body {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: white;
    text-align: justify;
}
h1 {
    font-family: lores-12, sans-serif;
    color: #00ffff;
}