#winner {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    h1 {
        margin-top: 8rem;
        font-size: 7vw;
        @media only screen and (max-width: 1000px) { display: none; }
    }
    h2 {
        margin-top: 3rem;
        color: white;
        font-size: 6vw;
        text-transform: inherit;
        @media only screen and (max-width: 1000px) { 
            margin-top: 10vh;
            text-transform: uppercase;
            font-size: 7em;
        }
    }
}
.winner-btn {
    margin-top: -10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    @media only screen and (max-width: 1000px) { 
        flex-direction: column;
        margin-top: -10rem;
    }
    button {
        width: 15rem;
        height: 4rem;
        @media only screen and (max-width: 1000px) { 
            margin: 1rem;
        }
    }
}
#synthwave { overflow: hidden; }
@keyframes animated-grid { 100% { transform: perspective(50vh) rotateX(60deg) translateY(var(--grid-line)); } }
.synthwave-grid {
    z-index: -1;
    position: absolute;
    top: -30rem;
    left: 0;
    bottom: 80vh; //start
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(90deg, var(--grid-colour),
                transparent var(--grid-blur), 
                transparent var(--grid-line),
                var(--grid-colour) calc(var(--grid-line) + var(--grid-blur))),
                repeating-linear-gradient(180deg, var(--grid-colour),
                transparent var(--grid-blur), 
                transparent var(--grid-line),
                var(--grid-colour) calc(var(--grid-line) + var(--grid-blur)));
    transform: perspective(50vh) rotateX(60deg);
    animation: animated-grid 3s infinite linear; //movement, speed
    //style grid
    --grid-line: 2rem;
    --grid-colour: #00ffff;
    --grid-blur: 1px;
}
.blink { animation: blink 1s linear infinite; }
@keyframes blink { 50% { text-shadow: 0 0 1px #00ffff, 0 -3px 3px rgba(255, 255, 255, 0.205), 0 3px 3px rgba(0, 0, 0, 0.5), 0 0 15px #00ffff, 0 0 25px #00ffffcc; } }