#winner {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 5.5em;
    }
    h2 {
        padding-top: 2rem;
    }
}
.winner-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}