@charset "UTF-8";
@import url("https://use.typekit.net/xjc5qtk.css");
@import url("https://use.typekit.net/xjc5qtk.css");
@import url("https://use.typekit.net/xjc5qtk.css");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191919;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: inherit;
  width: 100%;
  z-index: 1;
}

button {
  width: 10rem;
  height: 3rem;
  text-align: center;
  border: 2px solid #00ffff;
  background-color: #242424;
  font-size: 1.2em;
  font-family: montserrat, sans-serif;
  letter-spacing: 2px;
  padding: 10px 20px;
  color: #00ffff;
  border-radius: 18px;
  margin-left: 2rem;
  margin-right: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

button:hover {
  color: #242424;
  background-color: #00ffff;
}

button:active {
  outline: none;
  transform: scale(0.98);
}

button:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  background: #191919;
}

::-webkit-scrollbar-thumb {
  background: #242424;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f3f;
}

body {
  color: white;
  text-align: justify;
}

h1 {
  font-family: chuck, sans-serif;
  color: #00ffff;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 4em;
}

h2 {
  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  color: #8d8d8d;
  letter-spacing: 0.1em;
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 2em;
}

h3 {
  font-size: 1.5em;
  text-align: center;
  font-family: montserrat, sans-serif;
}

h4 {
  font-size: 1.2em;
  text-align: left;
  font-family: montserrat, sans-serif;
}

p {
  font-family: montserrat, sans-serif;
  font-size: 1em;
  text-align: justify;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: montserrat, sans-serif;
}

i {
  color: #8d8d8d;
  font-size: 1.2em;
}

.copy-container {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

a[id]:hover::after {
  content: attr(id);
  position: absolute;
  top: -0.1rem;
  right: calc(100% - 10px);
  max-width: 100%;
  font-size: 0.65em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #ffffff;
  opacity: 70%;
  color: #000000;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

a[id]:active::after {
  background: transparent;
  color: transparent;
}

.active div {
  box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.15), inset -3px -3px 7px rgba(255, 255, 255, 0.09);
}
.active div:hover {
  transform: scale(1) !important;
}
.active i, .active span, .active a {
  color: #00ffff;
}

.logo {
  display: block;
  margin-left: 1rem;
  padding: 1rem;
  z-index: 9;
}
@media only screen and (max-width: 600px) {
  .logo {
    margin-left: 40vw;
    padding: 0.5rem;
  }
  .logo img {
    display: none;
  }
}
.logo img {
  height: 35px;
  width: 35px;
  transition: transform ease-out 0.1s;
  margin-left: 96px;
}
.logo img:hover {
  transform: scale(0.93);
}
.logo img:active {
  transform: scale(1.1);
}

#logo__txt {
  font-family: montserrat, sans-serif;
  font-size: 10px;
  letter-spacing: 8px;
  color: #8d8d8d;
  line-height: 22px;
  margin-bottom: -38px;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  #logo__txt {
    letter-spacing: 7px;
  }
}
#logo__txt span {
  font-family: chuck, sans-serif;
  letter-spacing: 4px;
  font-weight: 900;
  margin-left: -1px;
  font-size: 28px;
  color: #00ffff;
}
@media only screen and (max-width: 600px) {
  #logo__txt span {
    letter-spacing: 5px;
  }
}

.nav-container {
  display: flex;
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  height: 5.5rem;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
  background-color: #242424;
  box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.15), inset -3px -3px 7px rgba(255, 255, 255, 0.05);
  z-index: 9;
}
@media only screen and (max-width: 600px) {
  .nav-container {
    box-shadow: none;
    height: 4.5rem;
  }
}
.nav-container nav {
  margin: 1rem;
  padding: 1rem;
  z-index: 9;
}
.nav-container nav ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-container nav li {
  color: #8d8d8d;
  text-transform: uppercase;
  padding-right: 2rem;
}
@media only screen and (max-width: 600px) {
  .nav-container nav {
    display: none;
  }
}
.nav-container nav span {
  padding-left: 0.8rem;
  vertical-align: middle;
  letter-spacing: 2px;
  font-size: 0.8em;
}
.nav-container nav i {
  vertical-align: middle;
}
.nav-container nav i:hover, .nav-container nav a:hover {
  opacity: 80%;
}
.nav-container nav i:active, .nav-container nav a:active {
  color: #00ffff;
}

.panel-container {
  position: fixed;
  z-index: 9;
}
.panel-container #logo__phone {
  padding-top: 0.3rem;
  background-color: #313131;
  height: 4.5rem;
  width: 4rem;
}
.panel-container #logo__phone :hover {
  transform: scale(0.93);
}
.panel-container #logo__phone :active {
  transform: scale(1.1);
}
.panel-container img {
  width: 35px;
  height: 35px;
  margin-top: 0.8rem;
  margin-left: 0.8rem;
  transition: transform ease-out 0.1s;
}
.panel-container #navToggle {
  background-color: #242424;
  height: 4.5rem;
  width: 4rem;
}
.panel-container #navToggle i {
  padding: 1rem;
}
.panel-container nav {
  position: absolute;
  display: block;
  left: -200px;
  top: 8rem;
  width: 16.5rem;
  transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  background-color: #242424;
  height: 100vh;
}
.panel-container nav ul {
  padding: 1.7rem;
  list-style-type: none;
}
.panel-container nav li {
  position: relative;
  padding-bottom: 2.7rem;
}
.panel-container nav a {
  display: block;
  white-space: nowrap;
  text-decoration: none;
  position: relative;
}
.panel-container nav i:hover, .panel-container nav a:hover {
  opacity: 50%;
}
.panel-container nav i:active, .panel-container nav a:active {
  opacity: 100%;
  color: #00ffff;
}
.panel-container nav i {
  position: absolute;
  top: 0rem;
  left: 12.1rem;
  font-size: 1.5em;
}
.panel-container nav i + i {
  left: 4.5rem;
  font-size: 1em;
}
@media only screen and (min-width: 600px) {
  .panel-container {
    display: none;
  }
}

.unicode {
  position: relative;
  display: block;
  cursor: pointer;
}
.unicode ::before {
  font-family: "Font Awesome 5 Free";
}

#unicode__toggle::before {
  content: "";
  font-size: 1.5em;
  display: block;
  position: relative;
}

.openPanel nav {
  transform: translate3d(12.2rem, 0, 0);
}
.openPanel #unicode__toggle::before {
  content: "";
  display: block;
  position: relative;
  font-size: 1.5em;
  color: #00ffff;
}

#dropdown {
  position: relative;
  cursor: pointer;
}
#dropdown ::after {
  position: absolute;
  content: "";
  left: 80px;
  top: 8px;
  width: 0;
  height: 0;
}

#dropdown-menu {
  display: none;
}
#dropdown-menu li {
  margin-top: 1rem;
  margin-bottom: -1rem;
}
#dropdown-menu li a {
  color: #ffffff;
}
#dropdown-menu li + li {
  margin-bottom: -4.5rem;
}

.showDropdown #dropdown-menu {
  display: block;
}

footer {
  display: flex;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 16rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background-color: #242424;
  box-shadow: inset 3px 3px 10px rgba(255, 255, 255, 0.1), inset -3px -3px 10px rgba(255, 255, 255, 0.1);
}
@media only screen and (max-width: 600px) {
  footer {
    display: none;
  }
}

.copy-container {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: -9.5rem;
  text-align: center;
  font-size: 0.9em;
  color: #8d8d8d;
}

.bubble-container {
  position: absolute;
  bottom: 7rem;
  display: flex;
  justify-content: space-evenly;
  width: 40rem;
  z-index: 9;
}
@media only screen and (max-width: 600px) {
  .bubble-container {
    bottom: 1.3rem;
    width: 100vw;
  }
}

.bubble {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15), -3px -3px 7px rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}
.bubble div {
  background-color: #242424;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin: 2px;
  user-select: none;
  cursor: pointer;
}
.bubble div:hover {
  box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.15), inset -3px -3px 7px rgba(255, 255, 255, 0.09);
  transform: scale(0.96);
}
.bubble i:active {
  color: #00ffff;
}
.bubble i:focus {
  color: #00ffff;
}

.bubble:active, .bubble:focus {
  background-color: #00ffff;
}

#index-header .nav-container {
  box-shadow: none;
}

#index {
  padding-top: 102vh;
  padding-bottom: 10rem;
}
#index h2 {
  padding-bottom: 2rem;
}
@media only screen and (max-width: 600px) {
  #index h2 {
    padding-left: 20%;
    padding-top: 0vh;
    padding-bottom: 0rem;
  }
}

#intro__box {
  position: absolute;
  top: 50vh;
  margin-top: -15rem;
  left: 50vw;
  margin-left: -35rem;
  z-index: 9;
  width: 30rem;
  height: 36rem;
  background-color: #00ffff;
  box-shadow: -8px -8px 18px 0 rgba(0, 0, 0, 0.55), inset 3px 3px 7px rgba(0, 0, 0, 0.15), inset -3px -3px 7px rgba(255, 255, 255, 0.09);
  border-radius: 25px;
}
@media only screen and (max-width: 1100px) {
  #intro__box {
    width: 25rem;
    margin-left: -42%;
    z-index: 9;
  }
}
@media only screen and (max-width: 600px) {
  #intro__box {
    display: none;
  }
}
#intro__box h1 {
  position: relative;
  margin-top: 11rem;
  margin-left: -7.2rem;
  font-family: chuck, sans-serif;
  font-size: 8.4em;
  line-height: 0.8em;
  transform: rotate(-90deg);
  height: 13rem;
  width: 33rem;
  z-index: 9;
  color: rgba(0, 0, 0, 0.185);
}
#intro__box h1 span {
  font-size: 0.65em;
}

#intro__img {
  position: absolute;
  z-index: 11;
  top: 50vh;
  margin-top: -3rem;
  left: 50vw;
  margin-left: -37rem;
  width: 32rem;
  transform: rotate(-55deg);
}
@media only screen and (max-width: 1100px) {
  #intro__img {
    display: none;
  }
}

#intro__txt {
  position: absolute;
  background-color: #242424;
  top: 50vh;
  margin-top: -12rem;
  left: 50vw;
  margin-left: -15rem;
  z-index: 9;
  width: 49rem;
  height: 30rem;
  box-shadow: -8px -8px 18px 0 rgba(0, 0, 0, 0.55), inset 3px 3px 7px rgba(0, 0, 0, 0.15), inset -3px -3px 7px rgba(255, 255, 255, 0.09);
  border-radius: 25px;
}
@media only screen and (max-width: 1100px) {
  #intro__txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 1rem;
    margin-top: 10rem;
    left: 50vw;
    margin-left: -25%;
    width: 68vw;
    height: 35rem;
    z-index: 9;
  }
}
@media only screen and (max-width: 600px) {
  #intro__txt {
    margin-top: 0rem;
    top: 50vh;
    margin-top: -15rem;
    left: 50vw;
    margin-left: -29vw;
    width: 70vw;
    z-index: 5;
  }
}
#intro__txt h1 {
  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 1em;
  color: #ffffff;
  font-size: 4.4em;
  margin-top: 3rem;
  text-align: center;
  padding: 2rem;
}
@media only screen and (max-width: 1100px) {
  #intro__txt h1 {
    margin-top: 0rem;
    font-size: 3em;
    width: 100%;
  }
}
#intro__txt p {
  margin-left: 8rem;
  font-size: 1.2em;
  line-height: 1.6em;
  width: 32rem;
}
@media only screen and (max-width: 1100px) {
  #intro__txt p {
    margin-left: 0rem;
    font-size: 1em;
    line-height: 1.5em;
    width: 75%;
  }
}

.intro-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}
@media only screen and (max-width: 1100px) {
  .intro-btn {
    flex-direction: column;
  }
}
.intro-btn button {
  width: 14.5rem;
  height: 4rem;
  font-size: 1.4em;
  color: #242424;
  border: #00ffff solid 2px;
  background-color: #00ffff;
}
@media only screen and (max-width: 1100px) {
  .intro-btn button {
    margin-bottom: 2rem;
  }
}
.intro-btn :hover {
  transform: scale(0.99);
}
.intro-btn :active {
  opacity: 0.7;
}

.character-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.character-container button:hover {
  cursor: grab;
}
.character-container button:active {
  cursor: grabbing;
}
@media only screen and (max-width: 600px) {
  .character-container {
    margin-left: 5rem;
  }
}

.card-container {
  background-color: transparent;
  width: 14rem;
  height: 15rem;
  perspective: 100rem;
  margin: 1.5rem;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: width 1s, height 1s, transform 2s;
  transform-style: preserve-3d;
  z-index: 1;
}
@-moz-document url-prefix() {
  .cards {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
}

.card-container:hover {
  z-index: 9;
}

.card-container:hover .cards {
  transform: rotateY(180deg);
  width: calc(100% + 10rem);
  height: calc(100% + 19rem);
}
@media only screen and (max-width: 600px) {
  .card-container:hover .cards {
    width: calc(100% + 5rem);
  }
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  color: #ffffff;
  background-color: #242424;
  border-radius: 30px;
  box-shadow: -8px -8px 18px 0 rgba(0, 0, 0, 0.55), inset 3px 3px 7px rgba(0, 0, 0, 0.15), inset -3px -3px 7px rgba(255, 255, 255, 0.09);
}
.card-front img {
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border: solid 2px #00FFFF;
  border-radius: 30px;
  background-color: #242424;
  color: #ffffff;
  transform: rotateY(180deg);
  margin-left: 5.5rem;
  margin-top: -5vh;
}
@media only screen and (max-width: 600px) {
  .card-back {
    margin-left: 3rem;
  }
}
.card-back img {
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  filter: grayscale(100%);
}
.card-back h3, .card-back p {
  margin-top: 1rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.card-back p + p {
  margin-bottom: 0.8rem;
}
.card-back button {
  margin: 1rem;
}

.modal__background {
  opacity: 0;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.2s ease-in-out;
}

.modal__background-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 50vw;
  top: 50vh;
  height: 15rem;
  width: 25rem;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  background-color: #242424;
  box-shadow: -8px -8px 18px 0 rgba(0, 0, 0, 0.55), inset 3px 3px 7px rgba(0, 0, 0, 0.15), inset -3px -3px 7px rgba(255, 255, 255, 0.09);
}
.modal p {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

#about {
  width: 100vw;
  height: 100vh;
  padding-top: 32rem;
  padding-bottom: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#about a {
  font-style: italic;
}
#about a:hover {
  color: #8d8d8d;
}
@media only screen and (max-width: 1300px) {
  #about {
    flex-direction: column;
    padding-top: 7rem;
    padding-bottom: 7rem;
    width: 100%;
    height: 100%;
  }
}

#about_txt {
  margin-right: 6rem;
  margin-left: 6rem;
}
@media only screen and (max-width: 1300px) {
  #about_txt {
    margin-left: 6rem;
    margin-right: 2rem;
  }
}
#about_txt h2 {
  margin-bottom: -4rem;
  text-align: left;
}
#about_txt h3 {
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #8d8d8d;
  letter-spacing: 0.1em;
  text-align: left;
  font-size: 1.3em;
  margin-bottom: 0.5em;
}
#about_txt p {
  margin-bottom: 2rem;
  line-height: 1.5em;
  text-align: left;
  color: #8d8d8d;
}

#about_SoMe {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  max-height: 60vh;
}
@media only screen and (max-width: 1300px) {
  #about_SoMe {
    flex-flow: row wrap;
    margin-left: 3rem;
  }
}
#about_SoMe a {
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
#about_SoMe #Codepen:hover {
  background-color: #000000;
}
#about_SoMe #Codepen:hover i {
  color: #ffffff;
}
#about_SoMe #Instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
#about_SoMe #Instagram:hover i {
  color: #ffffff;
}
#about_SoMe #GitHub:hover {
  background-color: #000000;
}
#about_SoMe #GitHub:hover i {
  color: #ffffff;
}
#about_SoMe #LinkedIn:hover {
  background-color: #0072b1;
}
#about_SoMe #LinkedIn:hover i {
  color: #ffffff;
}
#about_SoMe i {
  font-size: 6em;
}

#game {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#333333, #191919);
  background-position: center center;
  background-size: cover;
}
@media only screen and (max-width: 1400px) {
  #game {
    height: 100%;
  }
}

.board {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5.5rem;
  margin-bottom: 20vh;
}

.player-container {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 50vw;
  margin-left: -25vw;
  width: 50vw;
  height: 5.5rem;
}

.dice-btn {
  position: absolute;
  left: 17vw;
  height: 5.5rem;
  width: 9rem;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  color: #242424;
  border: none;
  border-radius: 0px;
  background-color: #00ffff;
  box-shadow: 0 0 3px #03e9f4, 0 0 13px #03e9f4, 0 0 25px #03e9f4, 0 0 100px #03e9f4;
}

.dice-btn:disabled {
  background-color: #8d8d8d;
  cursor: not-allowed;
  box-shadow: none;
}

.player-one img {
  position: absolute;
  top: 1rem;
  left: 2vw;
  height: 3rem;
}
.player-one .dice-paragraph {
  margin-left: 10vw;
  margin-top: 1rem;
  height: 3rem;
  width: auto;
  background-repeat: no-repeat;
}

.player-two img {
  position: absolute;
  top: 1rem;
  right: 3vw;
  height: 3rem;
}
.player-two .dice-paragraph {
  margin-left: 35vw;
  margin-top: -3rem;
  height: 3rem;
  width: auto;
  background-repeat: no-repeat;
}

.dice-paragraph {
  display: none;
}

.dice-paragraph:first-of-type {
  display: block;
}

div[class^=tile] {
  width: 9rem;
  height: 7rem;
  margin: 0.2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.tile-default {
  background: #19191960;
}

.tile-trap {
  background-color: #00ffff94;
}

.tile-throne {
  background-color: #19191960;
  background-size: 55%;
}
.tile-throne .tile-number {
  color: transparent;
}

.tile-end {
  background-color: #19191960;
}
.tile-end .tile-number {
  color: transparent;
}

#tile-0 {
  color: transparent;
  background-color: transparent;
}

.tile-number {
  margin-top: 2.5rem;
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  opacity: 0.1;
  font-size: 2em;
  cursor: default;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.token {
  width: 3rem;
  margin: 1rem;
  height: auto;
  position: absolute;
  transition: 0.4s ease-in-out;
}

#player-dice-1 {
  background-image: url("images/player-dice-1.svg");
}

#player-dice-2 {
  background-image: url("images/player-dice-2.svg");
}

#player-dice-3 {
  background-image: url("images/player-dice-3.svg");
}

#player-dice-4 {
  background-image: url("images/player-dice-4.svg");
}

#player-dice-5 {
  background-image: url("images/player-dice-5.svg");
}

#player-dice-6 {
  background-image: url("images/player-dice-6.svg");
}

#opponent-dice-1 {
  background-image: url("images/opponent-dice-1.svg");
}

#opponent-dice-2 {
  background-image: url("images/opponent-dice-2.svg");
}

#opponent-dice-3 {
  background-image: url("images/opponent-dice-3.svg");
}

#opponent-dice-4 {
  background-image: url("images/opponent-dice-4.svg");
}

#opponent-dice-5 {
  background-image: url("images/opponent-dice-5.svg");
}

#opponent-dice-6 {
  background-image: url("images/opponent-dice-6.svg");
}

#throne_1 {
  background-image: url("images/throne_1.svg");
}

#throne_2 {
  background-image: url("images/throne_2.svg");
}

#throne_3 {
  background-image: url("images/throne_3.svg");
}

#throne_iron {
  background-image: url("images/throne_iron.svg");
}

#loser {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
#loser h1 {
  font-family: lores-12, sans-serif;
  font-size: 8.5em;
}
#loser h2 {
  padding-top: 2rem;
}

.loser-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flash {
  animation: flash 1s linear infinite;
}

@keyframes flash {
  50% {
    opacity: 0;
  }
}
#winner {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
#winner h1 {
  margin-top: 8rem;
  font-size: 7vw;
}
@media only screen and (max-width: 1000px) {
  #winner h1 {
    display: none;
  }
}
#winner h2 {
  margin-top: 3rem;
  color: white;
  font-size: 6vw;
  text-transform: inherit;
}
@media only screen and (max-width: 1000px) {
  #winner h2 {
    margin-top: 10vh;
    text-transform: uppercase;
    font-size: 7em;
  }
}

.winner-btn {
  margin-top: -10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
@media only screen and (max-width: 1000px) {
  .winner-btn {
    flex-direction: column;
    margin-top: -30vh;
  }
}
.winner-btn button {
  width: 15rem;
  height: 4rem;
}
@media only screen and (max-width: 1000px) {
  .winner-btn button {
    margin: 1rem;
  }
}

#synthwave {
  overflow: hidden;
}

@keyframes animated-grid {
  100% {
    transform: perspective(50vh) rotateX(60deg) translateY(var(--grid-line));
  }
}
.synthwave-grid {
  z-index: -1;
  position: absolute;
  top: -30rem;
  left: 0;
  bottom: 80vh;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(90deg, var(--grid-colour), transparent var(--grid-blur), transparent var(--grid-line), var(--grid-colour) calc(var(--grid-line) + var(--grid-blur))), repeating-linear-gradient(180deg, var(--grid-colour), transparent var(--grid-blur), transparent var(--grid-line), var(--grid-colour) calc(var(--grid-line) + var(--grid-blur)));
  transform: perspective(50vh) rotateX(60deg);
  animation: animated-grid 3s infinite linear;
  --grid-line: 2rem;
  --grid-colour: #00ffff;
  --grid-blur: 1px;
}

.blink {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    text-shadow: 0 0 1px #00ffff, 0 -3px 3px rgba(255, 255, 255, 0.205), 0 3px 3px rgba(0, 0, 0, 0.5), 0 0 15px #00ffff, 0 0 25px #00ffffcc;
  }
}

/*# sourceMappingURL=styles.css.map */
