/*Colours:
light gray - #8d8d8d (contrast rating AAA)
background: #191919
#242424
*/
@import url("https://use.typekit.net/xjc5qtk.css");
@import url("https://use.typekit.net/xjc5qtk.css");
@import url("https://use.typekit.net/xjc5qtk.css");
@import url("https://use.typekit.net/xjc5qtk.css");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191919;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  margin-left: 8vw;
  margin-right: 8vw;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

/*scrollbar*/
::-webkit-scrollbar {
  /*width */
  width: 10px;
  background: #191919;
}

::-webkit-scrollbar-thumb {
  /*handle */
  background: #242424;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f3f;
}

body {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  color: white;
  text-align: justify;
}

h1 {
  font-family: chuck, sans-serif;
  color: #00ffff;
  letter-spacing: 0.1em;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  color: #8d8d8d;
}

.nav-container {
  width: 100vw;
  height: 4rem;
  top: 0vh;
  left: 0vw;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
  background-color: #242424;
  position: absolute;
  box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.15), inset -3px -3px 7px rgba(255, 255, 255, 0.05);
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav li {
  margin-right: 3rem;
  margin-top: -3rem;
}

.logo h1 {
  text-align: left;
  position: relative;
  top: -0.8rem;
  left: 5rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.logo a {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 23px;
  width: 30px;
  transition: transform ease-out 0.1s;
}
.logo a:hover {
  transform: scale(0.93);
}
.logo a:active {
  transform: scale(1.1);
}

footer {
  width: 100vw;
  height: 6.3rem;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
  background-color: #242424;
  position: relative;
  box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.15), inset -3px -3px 7px rgba(255, 255, 255, 0.05);
}

.bubble-container {
  position: absolute;
  bottom: 1rem;
  left: 5vw;
  display: flex;
  justify-content: space-around;
  width: 90vw;
}

.bubble {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15), -3px -3px 7px rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}
.bubble div {
  background-color: #242424;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 2px;
  user-select: none;
  /*pevent text selection*/
  cursor: pointer;
}
.bubble div:hover {
  box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.15), inset -3px -3px 7px rgba(255, 255, 255, 0.09);
  transform: scale(0.96);
}
.bubble i:active {
  color: #00ffff;
}
.bubble i:focus {
  color: #00ffff;
}

.bubble:active, .bubble:focus {
  background-color: #00ffff;
}

.active div {
  box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.15), inset -3px -3px 7px rgba(255, 255, 255, 0.09);
}
.active div:hover {
  transform: scale(1);
}
.active i {
  color: #00ffff;
}

.character-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}

.card-container {
  background-color: transparent;
  width: 14rem;
  height: 15rem;
  perspective: 100rem;
  margin: 1.5rem;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: width 1s, height 1s, transform 2s;
  transform-style: preserve-3d;
}

.card-container:hover .cards {
  transform: rotateY(180deg);
  width: calc(100% + 10rem);
  height: calc(100% + 15rem);
}

.card-container:hover {
  z-index: 9;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #242424;
  color: #ffffff;
  background-image: url("images/placeholder.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10rem;
  border-radius: 30px;
  box-shadow: -8px -8px 18px 0 rgba(0, 0, 0, 0.55), inset 3px 3px 7px rgba(0, 0, 0, 0.15), inset -3px -3px 7px rgba(255, 255, 255, 0.09);
}

.card-back {
  border: solid 2px #00FFFF;
  border-radius: 30px;
  background-color: #242424;
  color: #ffffff;
  transform: rotateY(180deg);
  /*postition after rotation*/
  margin-left: 5.5rem;
  margin-top: -5vh;
}

/*Cursor effect*/
button:hover {
  cursor: grab;
}

button:active {
  cursor: grabbing;
}

#image__gladiator {
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  filter: grayscale(100%);
  margin-bottom: 1rem;
}

/*# sourceMappingURL=styles.css.map */
