/*Colours:
light gray - #8d8d8d (contrast rating AAA)
background: #191919
#242424
*/
@import url("https://use.typekit.net/xjc5qtk.css");
@import url("https://use.typekit.net/xjc5qtk.css");
@import url("https://use.typekit.net/xjc5qtk.css");
@import url("https://use.typekit.net/xjc5qtk.css");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191919;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 10rem;
  padding-bottom: 3rem;
  background-color: inherit;
  width: 100%;
  z-index: 1;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f3f;
}

main {
  z-index: 1;
}

nav, .logo, .nav-container, .bubble-container, .card-container:hover {
  z-index: 9;
}

::-webkit-scrollbar {
  width: 10px;
  background: #191919;
}

::-webkit-scrollbar-thumb {
  background: #242424;
  border-radius: 10px;
}

body {
  color: white;
  text-align: justify;
}

h1 {
  font-family: chuck, sans-serif;
  color: #00ffff;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 5.5em;
}

h2 {
  font-family: chuck, sans-serif;
  color: #00ffff;
  letter-spacing: 0.1em;
  font-size: 4em;
  text-align: center;
}

h3 {
  font-size: 2em;
  text-align: center;
}

p {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

i {
  color: #8d8d8d;
  font-size: 1.2em;
}

/* unicode 
.unicode::before {
    font-family: 'Font Awesome\ 5 Free';
}
#unicode__home::before {
    content: '\f015';
}
*/
.nav-container {
  width: 100vw;
  height: 5.5rem;
  top: 0vh;
  left: 0vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
  background-color: #242424;
  position: absolute;
  box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.15), inset -3px -3px 7px rgba(255, 255, 255, 0.05);
}

nav {
  margin: 1rem;
  padding: 1rem;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav li {
  color: #8d8d8d;
  text-transform: uppercase;
  padding-right: 2rem;
}
@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }
}
nav span {
  padding-left: 0.8rem;
  vertical-align: middle;
  letter-spacing: 2px;
  font-size: 1em;
}
nav i {
  vertical-align: middle;
}
nav i:hover, nav a:hover {
  opacity: 80%;
}
nav i:active, nav a:active {
  color: #00ffff;
}

.logo {
  margin-left: 1rem;
  padding: 1rem;
  display: block;
}
.logo img {
  height: 35px;
  width: 35px;
  transition: transform ease-out 0.1s;
  margin-left: 95px;
}
.logo img:hover {
  transform: scale(0.93);
}
.logo img:active {
  transform: scale(1.1);
}

#logo__txt {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  letter-spacing: 8px;
  color: #8d8d8d;
  line-height: 21px;
  margin-bottom: -35px;
  text-transform: uppercase;
}
#logo__txt span {
  letter-spacing: 2px;
  font-weight: 900;
  margin-left: -2px;
  font-size: 30px;
  color: #00ffff;
}

footer {
  width: 100%;
  height: 16rem;
  bottom: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background-color: #242424;
  box-shadow: inset 3px 3px 10px rgba(255, 255, 255, 0.1), inset -3px -3px 10px rgba(255, 255, 255, 0.1);
}
@media only screen and (max-width: 600px) {
  footer {
    height: 8rem;
    position: relative;
  }
}

.copy-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: -9.5rem;
  text-align: center;
  font-size: 0.9em;
  color: #8d8d8d;
}
@media only screen and (max-width: 600px) {
  .copy-container {
    display: none;
  }
}

.bubble-container {
  position: absolute;
  bottom: 7rem;
  display: flex;
  justify-content: space-evenly;
  width: 40rem;
}
@media only screen and (max-width: 600px) {
  .bubble-container {
    bottom: 1.3rem;
    width: 100vw;
  }
}

.bubble {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15), -3px -3px 7px rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}
.bubble div {
  background-color: #242424;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin: 2px;
  user-select: none;
  /*pevent text selection*/
  cursor: pointer;
}
.bubble div:hover {
  box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.15), inset -3px -3px 7px rgba(255, 255, 255, 0.09);
  transform: scale(0.96);
}
.bubble i:active {
  color: #00ffff;
}
.bubble i:focus {
  color: #00ffff;
}

.active div {
  box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.15), inset -3px -3px 7px rgba(255, 255, 255, 0.09);
}
.active div:hover {
  transform: scale(1);
}
.active i, .active span {
  color: #00ffff;
}

.bubble:active, .bubble:focus {
  background-color: #00ffff;
}

.character-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}

.card-container {
  background-color: transparent;
  width: 14rem;
  height: 15rem;
  perspective: 100rem;
  margin: 1.5rem;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: width 1s, height 1s, transform 2s;
  transform-style: preserve-3d;
}

.card-container:hover .cards {
  transform: rotateY(180deg);
  width: calc(100% + 10rem);
  height: calc(100% + 15rem);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #242424;
  color: #ffffff;
  background-image: url("images/placeholder.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10rem;
  border-radius: 30px;
  box-shadow: -8px -8px 18px 0 rgba(0, 0, 0, 0.55), inset 3px 3px 7px rgba(0, 0, 0, 0.15), inset -3px -3px 7px rgba(255, 255, 255, 0.09);
}

.card-back {
  border: solid 2px #00FFFF;
  border-radius: 30px;
  background-color: #242424;
  color: #ffffff;
  transform: rotateY(180deg);
  /*postition after rotation*/
  margin-left: 5.5rem;
  margin-top: -5vh;
}

/*Cursor effect*/
button:hover {
  cursor: grab;
}

button:active {
  cursor: grabbing;
}

#image__gladiator {
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  filter: grayscale(100%);
  margin-bottom: 1rem;
}

/*# sourceMappingURL=styles.css.map */
